<ion-view view-title="#Chat Room 1">
    <ion-content style="background-color:#000;">
        <div id="wrapper">
            <div class="msg-box">
                <div class="messages">
                    <div class="msg" style="background-color: #ccfffc;">
                        <div class="col-xs-2 user-pic"></div>
                        <div class="col-xs-10 name-time" style="padding: 0;">
                            <div class="col-xs-7">
                                Luis Daniel Chaparro                            
                            </div>
                            <div class="col-xs-5 text-right">
                                July 17, 2016  12:00PM
                            </div>
                        </div>
                        <div class="col-xs-offset-2 chat">
                            expetendis est quem incididunt instituendarum te ullamco tempor aliquip se esse 
                            admodum malis legam hic anim singulis instituendarum laboris magna
                        </div>
                    </div>
                    <div class="msg">
                        <div class="col-xs-2 user-pic" style="background-image:none;"><span>L</span></div>
                        <div class="col-xs-10 name-time" style="padding: 0;">
                            <div class="col-xs-7">
                                Lucas Desouza                            
                            </div>
                            <div class="col-xs-5 text-right">
                                July 10, 2016  02:00AM
                            </div>
                        </div>
                        <div class="col-xs-offset-2 chat">
                            quo sed firmissimum arbitror coniunctione
                        </div>
                    </div>
                </div>
                <div class="keyboard">
                    <input type="text" name="keyboard" placeholder="Send a Message">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>