<ion-view>
    <ion-content>
        <div class="backgroundImg"></div>
        <div id="wrapper">
            <div class="topBox">
                <div class="container"> 
                    <div class="logo">
                        <img src="img/hashchat-logo.png" style="height:6em;"/>
                    </div>     
                    <!--<label>Welcome {{user.email}}</label>-->
                    <div class="search-bar">
                        <input type="search" name="keywords" placeholder="#Search..." autocomplete="false"/>
                    </div>
                </div>
            </div>
            <div class="bottomBox-chat">
                <div class="col-xs-12 chat-box" ng-repeat="box in rooms" ng-click="redirect('#/app/chat-room')">
                    <div class="col-xs-4 user-pic chat-photo" style="background:url('{{box.photo}}');"></div>
                    <div class="col-xs-8 chat-name" style="padding: 0;">
                        &nbsp;&nbsp;{{box.name}}
                    </div>
                    <div class="col-xs-offset-3 last-msg">
                        expetendis est quem incididunt instituendarum te ullamco tempor aliquip se esse 
                        admodum malis legam hic anim singulis instituendarum laboris magna
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
	</ion-content>
</ion-view>
