<ion-view>
    <ion-content>
        <div class="backgroundImg"></div>
        <div id="wrapper">
            <div class="topBox">
                <div class="container"> 
                    <div class="logo">
                        <img src="img/hashchat-logo.png"/>
                    </div>     
                    <label>Welcome {{user.email}}</label>    
                    <div class="search-bar">
                        <input type="search" name="keywords" placeholder="#Search..." autocomplete="false"/>
                    </div>
                </div>
            </div>
            <div class="bottomBox-chat">
                <div class="col-xs-6 chat-box" ng-repeat="box in rooms">
                    <div class="chat-name">{{box.name}}</div>
                    <a href="#/app/chat-room"><div class="chat-photo" style="background: url('{{box.photo}}');"></div></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
	</ion-content>
</ion-view>
